input.hidden.if(type="checkbox" id="filters")
.__header.fixed.top-0.left-0.right-0.z-1.h-9.px-1.white.bg-theme
  label(for="filters").absolute.z-1.inset-0.h-100vh.bg-black.bg-opacity-50p.pointer.hidden.then_block
  .absolute.left-0.right-0.-bottom-01.h-01.bg-gradient-y.bg-gradient-from-blue-7
  .container.mx-auto.h-100p
    .h-100p.pt-02.flex.flex-col
      .flex-auto.rounded-4.bg-gray-2.bg-opacity-25p.flex.flex-rows.items-center.px-1.hover_bg-opacity-50p.focus-within_bg-opacity-75p.shadow-2
        //- Title
        a.hidden.md_block(href=url.pathToRoot)
          img.h-6.grayscale.hover_grayscale-0(src=`${url.pathToRoot}/assets/logo.png`)
        //- Searchbar
        .flex-auto
          #searchbox
        //- Menu
        label.__filters.pointer.white.px-1(for="filters")
          .h-5.w-5.opacity-50p.hover_opacity-75p.then_opacity-100p.then_white
            include svg/sliders

      .relative.mx-2
        .flex.flex-row.justify-end.text-01.italic.pt-001.opacity-75p
          #stats

        .absolute.z-2.right-0.top-0.hidden.then_block
          .bg-gray-1.rounded.shadow-2.border-001.border-gray-4
            !=include("_includes/templates/filters.pug")

