.flex-col.text-4.gray-7.p-2
  .flex.flex-col.flex-center.italic.text-01 Configure your own filters by creating 
    a.underline(href="https://github.com/pixelastic/norska-theme-search-infinite/blob/master/src/_includes/templates/filters.pug") ./src/_includes/templates/filters.pug

