.container.mx-auto.mt-3.text-2
  .text-center.mb-2.text-01
    | Configure your own footer template by creating 
    a.underline(href="https://github.com/pixelastic/norska-theme-search-infinite/blob/master/src/_includes/templates/footer.pug") ./src/_includes/templates/footer.pug

