.js-masonryBrick.relative.bg-gray-1.rounded.shadow-2.border-001.border-gray-4.transform.transition-transform.hover_scale-105p
  .js-masonryContent(id="{{objectID}}")
    - const hitTemplate = data.themeMethods.hitTemplate({ include })
    !=hitTemplate
