.p-2.gray-8
  .bold {{{title}}}{{{name}}}
  .py-3
    .flex.flex-col.flex-center.italic.text-01 Configure your own hit template by creating 
      a.underline(href="https://github.com/pixelastic/norska-theme-search-infinite/blob/master/src/_includes/templates/hit.pug") ./src/_includes/templates/hit.pug

