doctype html
html(lang='en')
  +norska_head
  body.bg-theme
    include ../header.pug
    .mt-9.p1
      block content
      #empty.hidden.p-5.text-6.white.text-center Sorry, no map found
      #hits.js-masonryWall.min-h-100vh
      !=data.themeMethods.template('footer', { include })

    textarea#hitTemplate(hidden)
      include ../templates/hit

  script!=`window.CONFIG = ${JSON.stringify(data.config)}`
  +norska_scripts
