doctype html
html(lang='en')
  +norska_head
  body.bg-theme
    include ../header.pug
    .mt-9.p-2
      #hits.js-masonryWall.min-h-100vh
    block content

    textarea#hitTemplate(hidden)
      include ../templates/hit
    textarea#emptyTemplate(hidden)
      include ../templates/empty

  script!=`window.CONFIG = ${JSON.stringify(data.config)}`
  +norska_scripts
